.icon-container{
    display: inline-block;
}

.icon-container img {
    max-width: 100px;
}

.crypto-wallet {
    margin-top: 5em;
}

.crypto-wallet .address {
    font-size: 1.2em;
    text-align: left;
    padding: .5em;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 2%;
}

.copy-container button {
    border-radius: 2%;
}